In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn .compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

In [2]:
train = pd.read_csv('diamonds_train.csv')
train.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
test = pd.read_csv('diamonds_test.csv')
test.head()

   carat        cut color clarity  depth  table     x     y     z
0   0.73      Ideal     G    VVS2   61.9   55.0  5.83  5.77  3.59
1   0.61    Premium     F    VVS2   59.7   58.0  5.56  5.53  3.31
2   1.55    Premium     I     VS1   58.2   60.0  7.69  7.59  4.45
3   0.46       Good     F      IF   56.2   61.0  5.16  5.24  2.92
4   1.10  Very Good     F     VS2   60.6   58.0  6.67  6.77  4.07

In [4]:
x_train = train.drop(['price'], axis=1)
y_train = train['price']

x_test = test